.wraper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #8b8b8b;
  margin-bottom: 30px;
}

.thumb {
  margin: 0 auto;
  max-width: 342px;
}
.meta {
  color: #fff;
  width: calc(80% - 15px);
}



.movie_type, .votes {
  color: #ff3d00;
}


.link {
  color: #8b8b8b;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 3px;
}
.link:not(:last-child) {
  margin-right: 30px;
}
.activeLink {
  position: relative;
  composes: link;
  color: #ff3d00;
}

.activeLink::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff3d00;
  border-radius: 2px;
}

.cast {
  text-align: center;
  font-weight: bold;
  font-style: bold;
  list-style: none;
  padding: 0;
  display: grid;
  max-width: calc(100vw - 96px);
  grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
  grid-gap: 16px;
}
.link {
  text-decoration: none;
}
.link:hover .castImg {
  transform: scale(1.03);
}
.castImg {
  max-width: 185px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: all 250ms ease;
}
.castMeta {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.castName, .anchor {
  color: #ff3d00;
}
.anchor {
  text-decoration: underline;
  cursor: pointer;
  transition: 300ms color ease;
}
.anchor:hover {
  color: #fff;
}

.reviewItem {
  color: #fff;
  margin-bottom: 10px;
}
.reviewAuthor {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .wraper {
    display: flex;
    justify-content: space-between;
  }
  .thumb {
    margin-right: 30px;
  }
}
