.navigation {
  padding-left: 30px;
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 50px;
  box-shadow: 0 4px 2px 0px rgb(0 0 0 / 20%);
}

.link {
  color: rgb(245, 159, 0);
  text-decoration: none;
  font-size: 20px;
}
.link:not(:last-child) {
  margin-right: 30px;
}
.activeLink {
  position: relative;
  composes: link;
  color: cornflowerblue;
}

.activeLink::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(245, 159, 0);
  border-radius: 2px;
}
